Repository al8n/agnostic: changes, and which Codecov flags are due for each by the changed paths.
All: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

.codecov.yml:

codecov:
  require_ci_to_pass: false

ignore:
  - "**/integration/"
  - "**/examples/"
  - "**/benches/"
  - "**/tests/"

flags:
  agnostic:
    paths:
      - agnostic/
    carryforward: true
  agnostic-lite:
    paths:
      - agnostic-lite/
    carryforward: true
  agnostic-net:
    paths:
      - agnostic-net/
    carryforward: true
  agnostic-dns:
    paths:
      - agnostic-dns/
    carryforward: true
  agnostic-process:
    paths:
      - agnostic-process/
    carryforward: true

coverage:
  status:
    project: # Overall project status
      default:
        target: auto
        if_not_found: success
        only_pulls: false
    patch: # Status for the patch in pull requests
      default:
        target: auto
        if_not_found: success
        only_pulls: true
    changes: false # Whether to comment on the coverage changes in pull requests

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

increase version number
  CHANGELOG.md
  agnostic-dns/README.md
  agnostic-io/README.md
  agnostic-lite/README.md
  agnostic-lite/src/spawner.rs
  agnostic-net/README.md
  agnostic-process/README.md
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix(agnositc-lite): no_std compatability
  Cargo.toml
  agnostic-lite/Cargo.toml
Due: agnostic-lite

fix(agnositc-lite): `no_std` compatability (#39)
  Cargo.toml
  agnostic-lite/Cargo.toml
Due: agnostic-lite

chore: bumpup agnostic-lite version
  .github/workflows/ci.yml
  agnostic-lite/Cargo.toml
Due: agnostic-lite

bumpup versions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dns.yml
  .github/workflows/loc.yml
  .github/workflows/net.yml
  .github/workflows/process.yml
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic/Cargo.toml
  agnostic/src/lib.rs
Due: agnostic, agnostic-dns

bumpup versions
  .github/workflows/ci.yml
  .github/workflows/dns.yml
  .github/workflows/net.yml
  .github/workflows/process.yml
  agnostic-dns/src/lib.rs
Due: agnostic-dns

chore: bumpup versions (#40)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dns.yml
  .github/workflows/loc.yml
  .github/workflows/net.yml
  .github/workflows/process.yml
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic/Cargo.toml
  agnostic/README.md
  agnostic/src/lib.rs
Due: agnostic, agnostic-dns

feat(agnostic-lite): add embassy-executor no_std runtime backend
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/embassy.rs
  agnostic-lite/src/embassy/after.rs
  agnostic-lite/src/embassy/delay.rs
  agnostic-lite/src/embassy/interval.rs
  agnostic-lite/src/embassy/sleep.rs
  agnostic-lite/src/embassy/timeout.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/spawner.rs
Due: agnostic-lite

chore(deps): update hickory-dns to 0.26
  agnostic-dns/Cargo.toml
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic-net/src/smol/udp.rs
  agnostic/src/lib.rs
Due: agnostic, agnostic-net, agnostic-dns

feat(agnostic-lite): add embassy-executor no_std runtime backend (#49)
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/embassy.rs
  agnostic-lite/src/embassy/after.rs
  agnostic-lite/src/embassy/delay.rs
  agnostic-lite/src/embassy/interval.rs
  agnostic-lite/src/embassy/sleep.rs
  agnostic-lite/src/embassy/timeout.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/spawner.rs
Due: agnostic-lite

chore(deps): update hickory-dns to 0.26 (#50)
  agnostic-dns/Cargo.toml
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic-net/src/smol/udp.rs
  agnostic/src/lib.rs
Due: agnostic, agnostic-net, agnostic-dns

chore: bump crate versions and refresh docs
  CHANGELOG.md
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-lite/Cargo.toml
  agnostic-net/Cargo.toml
  agnostic/Cargo.toml
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns

chore: finalize CHANGELOG for release
  CHANGELOG.md
Due: none

chore: bump crate versions and refresh docs (#51)
  CHANGELOG.md
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-lite/Cargo.toml
  agnostic-net/Cargo.toml
  agnostic/Cargo.toml
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns

chore: update the README.md
  README.md
  agnostic-dns/README.md
  agnostic-io/README.md
  agnostic-lite/README.md
  agnostic-net/README.md
  agnostic-process/README.md
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

chore: update loc.yml
  .github/workflows/loc.yml
Due: none

chore: update license badge and add description
  README.md
Due: none

docs: RFC for no_std/embedded networking via bound-minimization
  docs/rfc/embedded-no_std-net.md
Due: none

feat(agnostic-net)!: named futures + bound-minimization for UdpSocket
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic-net/Cargo.toml
  agnostic-net/src/lib.rs
  agnostic-net/src/smol/udp.rs
  agnostic-net/src/tests/udp.rs
  agnostic-net/src/tokio/udp.rs
  agnostic-net/src/udp.rs
Due: agnostic-net, agnostic-dns

fix(agnostic-net): build under --no-default-features (each-feature CI)
  agnostic-net/Cargo.toml
  agnostic-net/src/udp.rs
Due: agnostic-net

feat(agnostic-net)!: named futures + bound-minimization for TcpStream and TcpListener
  agnostic-dns/src/lib.rs
  agnostic-dns/src/tests.rs
  agnostic-net/src/async_io.rs
  agnostic-net/src/lib.rs
  agnostic-net/src/smol/tcp_listener.rs
  agnostic-net/src/tcp.rs
  agnostic-net/src/tests/tcp.rs
  agnostic-net/src/tokio/tcp_listener.rs
  agnostic-net/src/tokio/tcp_stream.rs
  agnostic-net/src/tokio/tcp_stream/owned.rs
  agnostic-net/src/udp.rs
Due: agnostic-net, agnostic-dns

add no_std supports
  Cargo.toml
  agnostic-io/Cargo.toml
  agnostic-io/src/no_std.rs
  agnostic-lite/Cargo.toml
  agnostic-net/Cargo.toml
  agnostic-net/src/embassy.rs
  agnostic-net/src/lib.rs
Due: agnostic-lite, agnostic-net

feat(agnostic-lite): split RuntimeLite into a LocalRuntimeLite core and a Send extension
  Cargo.toml
  agnostic-dns/src/tests.rs
  agnostic-lite/Cargo.toml
  agnostic-lite/src/embassy.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/wasm.rs
  agnostic-lite/tests/local_only.rs
  agnostic-net/src/tests/udp.rs
Due: agnostic-lite, agnostic-net, agnostic-dns

fix(agnostic-lite): smol local spawns panic loudly instead of silently cancelling
  agnostic-lite/src/smol.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/tests/smol_local_spawn.rs
Due: agnostic-lite

docs+fix: honest 0.7 migration surface — facade re-export, moved-member links, README, compile contracts
  agnostic-lite/README.md
  agnostic-lite/src/embassy.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/tests/trait_split_compat.rs
  agnostic/src/lib.rs
Due: agnostic, agnostic-lite

docs: completion-based runtimes are out of scope — the split serves thread-pinned hosts
  agnostic-lite/README.md
  agnostic-lite/src/lib.rs
  agnostic-lite/tests/local_only.rs
Due: agnostic-lite

fix: publishable version graph, exhaustive split contract, release docs
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-lite/tests/trait_split_compat.rs
  agnostic-net/Cargo.toml
  agnostic-net/README.md
  agnostic/Cargo.toml
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns

fix: plain-text changelog release headings — bare version labels collided across crates
  CHANGELOG.md
Due: none

test: scheduler-safe sleep/delay upper bounds, fail-fast off in the test matrix
  .github/workflows/ci.yml
  agnostic-lite/src/async_io/delay.rs
  agnostic-lite/src/async_io/sleep.rs
  agnostic-lite/src/tokio/delay.rs
  agnostic-lite/src/tokio/sleep.rs
  agnostic-lite/src/wasm/delay.rs
  agnostic-lite/src/wasm/sleep.rs
Due: agnostic-lite

feat(agnostic-lite): split RuntimeLite into a LocalRuntimeLite core and a Send extension (#57)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-dns/src/tests.rs
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/async_io/delay.rs
  agnostic-lite/src/async_io/sleep.rs
  agnostic-lite/src/embassy.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/tokio/delay.rs
  agnostic-lite/src/tokio/sleep.rs
  agnostic-lite/src/wasm.rs
  agnostic-lite/src/wasm/delay.rs
  agnostic-lite/src/wasm/sleep.rs
  agnostic-lite/tests/local_only.rs
  agnostic-lite/tests/smol_local_spawn.rs
  agnostic-lite/tests/trait_split_compat.rs
  agnostic-net/Cargo.toml
  agnostic-net/README.md
  agnostic-net/src/tests/udp.rs
  agnostic/Cargo.toml
  agnostic/README.md
  agnostic/src/lib.rs
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns

test: interval uppers get the 500ms runaway catch, lowers stay tight
  agnostic-lite/src/async_io/interval.rs
  agnostic-lite/src/tokio/interval.rs
  agnostic-lite/src/wasm/interval.rs
Due: agnostic-lite

test: spawn_after unittests grant the after-task real scheduling grace
  agnostic-lite/src/lib.rs
Due: agnostic-lite

test: scheduler-safe interval test upper bounds (#58)
  agnostic-lite/src/async_io/interval.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/tokio/interval.rs
  agnostic-lite/src/wasm/interval.rs
Due: agnostic-lite
