Repository al8n/agnostic: changes, and which Codecov flags are due for each by the changed paths.
All: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

.codecov.yml:

codecov:
  require_ci_to_pass: false

ignore:
  - "**/integration/"
  - "**/examples/"
  - "**/benches/"
  - "**/tests/"

flags:
  agnostic:
    paths:
      - agnostic/
    carryforward: true
  agnostic-lite:
    paths:
      - agnostic-lite/
    carryforward: true
  agnostic-net:
    paths:
      - agnostic-net/
    carryforward: true
  agnostic-dns:
    paths:
      - agnostic-dns/
    carryforward: true
  agnostic-process:
    paths:
      - agnostic-process/
    carryforward: true

coverage:
  status:
    project: # Overall project status
      default:
        target: auto
        if_not_found: success
        only_pulls: false
    patch: # Status for the patch in pull requests
      default:
        target: auto
        if_not_found: success
        only_pulls: true
    changes: false # Whether to comment on the coverage changes in pull requests

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Update tcp.rs
  agnostic-net/src/tests/tcp.rs
Due: agnostic-net

Update net.yml
  .github/workflows/net.yml
Due: none

Update ci
  .github/workflows/coverage.yml
  .github/workflows/net.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

Update tests.rs
  agnostic-net/src/tests.rs
Due: agnostic-net

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

cleanup CI
  .github/workflows/coverage.yml
  ci/coverage.sh
Due: none

Update loc.yml
  .github/workflows/loc.yml
Due: none

remove `LocalAfterSpawner`
  agnostic-lite/src/async_std.rs
  agnostic-lite/src/async_std/after.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/smol/after.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/tokio/after.rs
  agnostic-lite/src/wasm.rs
  agnostic-lite/src/wasm/after.rs
Due: agnostic-lite

Cleanup features
  Cargo.toml
  agnostic-dns/Cargo.toml
  agnostic-io/Cargo.toml
  agnostic-io/README.md
  agnostic-io/src/lib.rs
  agnostic-io/src/std.rs
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/async_io/interval.rs
  agnostic-lite/src/async_io/sleep.rs
  agnostic-lite/src/async_io/timeout.rs
  agnostic-lite/src/async_std.rs
  agnostic-lite/src/async_std/after.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/smol/after.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/time.rs
  agnostic-lite/src/time/delay.rs
  agnostic-lite/src/time/interval.rs
  agnostic-lite/src/time/sleep.rs
  agnostic-lite/src/time/timeout.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/tokio/after.rs
  agnostic-lite/src/tokio/delay.rs
  agnostic-lite/src/tokio/interval.rs
  agnostic-lite/src/tokio/sleep.rs
  agnostic-lite/src/tokio/timeout.rs
  agnostic-lite/src/wasm.rs
  agnostic-lite/src/wasm/after.rs
  agnostic-lite/src/wasm/interval.rs
  agnostic-lite/src/wasm/sleep.rs
  agnostic-lite/src/wasm/timeout.rs
  agnostic-net/Cargo.toml
  agnostic-process/Cargo.toml
  agnostic/Cargo.toml
  agnostic/src/lib.rs
  agnostic/src/net.rs
  agnostic/src/process.rs
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

Update
  README.md
  agnostic/Cargo.toml
  agnostic/README.md
Due: agnostic

Fix clippy warnings
  agnostic-io/src/lib.rs
  agnostic-io/src/no_std.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/time/timeout.rs
  agnostic-net/Cargo.toml
  agnostic/src/lib.rs
Due: agnostic, agnostic-lite, agnostic-net

Fix clippy warnings
  agnostic-io/src/no_std.rs
  agnostic/src/lib.rs
Due: agnostic

cleanup
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-io/Cargo.toml
  agnostic-io/README.md
  agnostic-net/Cargo.toml
  agnostic-net/README.md
  agnostic-process/Cargo.toml
  agnostic-process/README.md
  agnostic/README.md
Due: agnostic, agnostic-net, agnostic-dns, agnostic-process

Add `Send` bound on `type Instant` in `RuntimeLite`
  agnostic-lite/Cargo.toml
  agnostic-lite/src/lib.rs
Due: agnostic-lite

Add `RuntimeLite::now` for convenient
  agnostic-lite/Cargo.toml
  agnostic-lite/src/lib.rs
Due: agnostic-lite

chore: Fix warnings in docsrs
  .github/workflows/ci.yml
  agnostic-dns/Cargo.toml
  agnostic-lite/Cargo.toml
  agnostic-lite/src/async_io/delay.rs
  agnostic-lite/src/async_io/interval.rs
  agnostic-lite/src/async_io/sleep.rs
  agnostic-lite/src/async_std.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/time.rs
  agnostic-lite/src/tokio/delay.rs
  agnostic-lite/src/wasm.rs
  agnostic-net/Cargo.toml
  agnostic-process/Cargo.toml
  agnostic/Cargo.toml
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

`Send + Sync + Unpin + 'static` bound for `Instant` trait
  agnostic-lite/Cargo.toml
  agnostic-lite/src/lib.rs
  agnostic-lite/src/time.rs
  agnostic-lite/src/time/delay.rs
  agnostic-lite/src/time/interval.rs
  agnostic-lite/src/time/sleep.rs
  agnostic-lite/src/time/timeout.rs
Due: agnostic-lite

a
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-io/Cargo.toml
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/time.rs
  agnostic-net/Cargo.toml
  agnostic-net/README.md
  agnostic-net/src/to_socket_addrs.rs
  agnostic-process/Cargo.toml
  agnostic-process/README.md
  agnostic-process/src/tests.rs
  agnostic/Cargo.toml
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

Fix fmt
  agnostic-dns/src/lib.rs
  agnostic-io/src/std.rs
  agnostic-lite/src/async_io/delay.rs
  agnostic-lite/src/lib.rs
  agnostic-net/src/lib.rs
  agnostic-net/src/tcp.rs
  agnostic-net/src/tests/tcp/async_std.rs
  agnostic-net/src/tests/tcp/smol.rs
  agnostic-net/src/tests/tcp/tokio.rs
  agnostic-net/src/tests/udp/async_std.rs
  agnostic-net/src/tests/udp/smol.rs
  agnostic-net/src/tests/udp/tokio.rs
  agnostic-net/src/windows.rs
  agnostic-process/src/tests.rs
  agnostic/src/lib.rs
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

bumpup rust edition (#16)
  Cargo.toml
  README.md
  agnostic-dns/Cargo.toml
  agnostic-dns/README.md
  agnostic-dns/src/lib.rs
  agnostic-io/Cargo.toml
  agnostic-io/src/std.rs
  agnostic-lite/Cargo.toml
  agnostic-lite/README.md
  agnostic-lite/src/async_io/delay.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/time.rs
  agnostic-net/Cargo.toml
  agnostic-net/README.md
  agnostic-net/src/lib.rs
  agnostic-net/src/tcp.rs
  agnostic-net/src/tests/tcp/async_std.rs
  agnostic-net/src/tests/tcp/smol.rs
  agnostic-net/src/tests/tcp/tokio.rs
  agnostic-net/src/tests/udp/async_std.rs
  agnostic-net/src/tests/udp/smol.rs
  agnostic-net/src/tests/udp/tokio.rs
  agnostic-net/src/to_socket_addrs.rs
  agnostic-net/src/windows.rs
  agnostic-process/Cargo.toml
  agnostic-process/README.md
  agnostic-process/src/tests.rs
  agnostic/Cargo.toml
  agnostic/README.md
  agnostic/src/lib.rs
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

bumpup rustix version
  agnostic-net/Cargo.toml
  agnostic-net/src/unix.rs
Due: agnostic-net

Update Cargo.toml
  agnostic-net/Cargo.toml
Due: agnostic-net

bumpup rustix version (#17)
  agnostic-net/Cargo.toml
  agnostic-net/src/unix.rs
Due: agnostic-net

feat: add abort function
  agnostic-lite/src/lib.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
Due: agnostic-lite

feat: add abort to wasm & async std
  agnostic-lite/src/async_std.rs
  agnostic-lite/src/lib.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/wasm.rs
Due: agnostic-lite

feat: add abort function (#23)
  agnostic-lite/src/async_std.rs
  agnostic-lite/src/smol.rs
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
  agnostic-lite/src/wasm.rs
Due: agnostic-lite

update `agnostic-lite` version
  agnostic-lite/Cargo.toml
  agnostic-lite/src/spawner.rs
  agnostic-lite/src/tokio.rs
Due: agnostic-lite

bumpup versions
  agnostic-net/Cargo.toml
  agnostic-process/src/lib.rs
Due: agnostic-net, agnostic-process

cleanup readme
  README.md
  agnostic-dns/README.md
  agnostic-io/README.md
  agnostic-lite/README.md
  agnostic-net/README.md
  agnostic-process/README.md
  agnostic/README.md
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process

update readme
  agnostic-dns/README.md
  agnostic-io/README.md
  agnostic-lite/README.md
  agnostic-net/README.md
Due: agnostic-lite, agnostic-net, agnostic-dns

Update README.md
  agnostic-io/README.md
Due: none

bumpup version
  agnostic-dns/Cargo.toml
  agnostic-io/Cargo.toml
  agnostic-lite/Cargo.toml
  agnostic-net/Cargo.toml
  agnostic-process/Cargo.toml
  agnostic/Cargo.toml
Due: agnostic, agnostic-lite, agnostic-net, agnostic-dns, agnostic-process
